a {
    color: inherit; /* 상속 */
    text-decoration: none;
    display: block;
}
button, input {
    border: none;
    outline: none;
    color: #000;
    background: #fff;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrap{
    font-size: 14px;
    width: 95%;
    /* margin: 0 auto; */
}

/* header 영역 */

header {
    background: #fff;
    height: 90px;
    top: 0;
    width: 100%;
}
header .inner-header {
    width: 78%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
header .inner-header .logo {
    float: left;
    width: 200px;
    height: 54px;
    margin-top: 15px;
    margin-left: 90px;
}
header .inner-header .logo img {
    width: 100%;
    height: 100%;
}
header .inner-header .gnb {
    float: left;
    margin-left: 290px;
    font-size: 21px;
}
header .inner-header .gnb li {
    margin-right: 50px;
    float: left;
}
header .inner-header .gnb > ul li a {
    font-size: 18px;
    color: #000;
    display: block;
}
header .inner-header nav {
    float: right;
    margin-top: 39px;
    font-weight: 700;
}
header .inner-header .tnb li {
    float: left;
    margin-left: 30px;
    font-size: 18px;
    color: rgba(0,0,102);
}
header .inner-header .tnb li:first-child {
    margin-left: 0px;
}


header .inner-header .tnb li:first-child:hover {
    text-decoration: underline;
}
header .inner-header .tnb li a > i {
    font-size: 23px;
    margin-top: -8px;
    font-weight: 600;
}
header .inner-header .tnb li a:hover > i {
    transform: scale(1.2);
    transition: 0.3s;
}
/* 
header .inner-header .tnb li a:hover::after {
    transform: scale(1);
    transition: 1s;
} */
/* section.main 영역 */
section.main {
    width: 100%;
    border-top: 1px solid #ddd;

    position: relative;
}
section.main .main-title {
    width: 95%;
    height: 480px;
    margin: 0 auto;
    position: inherit;
}
section.main .main-title img {
    width: 100%;
    height: 100%;
}
section.main .main-title h2 {
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 26%;
    left: 30%;
    transform: translate(-50%,-50%);
    margin-left: 30px;
}

/* section.main .select 영역 < 1 / 3 > 버튼 */
section.main .select {
    display: block;
    width: 140px;
    height: 40px;
    position: absolute;
    top: 86%;
    left: 18%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 0px 0px;
    line-height: 40px;
}
section.main .select .button_select a {
    float: left;
    text-align: center;
    font-size: 15px;
    width: 25%;
    height: 40px
}
section.main .select .button_select a:hover {
    border: 1px solid #000;
}
section.main .select .button_select p {
    float: left;
    font-size: 15px;
    font-weight: 700;
}
section.main .select .button_select {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%; 
    height: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
}
section.main .select .button_select a:first-child {
    margin-right: 15px;
}
section.main .select .button_select a:last-child {
    margin-left: 15px;  
}

/* section.main .main-title-search 예약박스 영역 스타일*/
section.main .main-title-search {
    width: 700px;
    height: 480px;
    display: block;
    float: right;
    background: rgba(0,0,102,0.8);
    position: absolute;
    top: 31px;
    left: 1200px;   
}
section.main .main-title-search .main-booking-box {
    width: 55%;
    height: 480px;
    position: relative;
}

section.main .main-title-search .booking {
    width: 100%;
    height: 12%;
}

section.main .main-title-search .booking button {
    width: 30%;
    height: 50px;
    background: rgba(0,0,102,0);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
section.main .main-title-search .booking span button:hover {
    text-decoration: underline;
}
section.main .main-title-search .booking span .booking-etc a:last-child:hover {
    border: 1px solid #fff;
    text-decoration: none;
}

section.main .main-title-search .booking-from-to {
    width: 100%;
    height: 25%;
    background: #fff;
    position: relative;
}
section.main .main-title-search .booking-from-to nav {
    width: 90%;
    margin: 0 auto;
    line-height: 25%;
    text-align: center;
    position: absolute;
    top: 17px;
    left: 10px;
}
section.main .main-title-search .booking-from-to nav button.from {
    float: left;
}
section.main .main-title-search .booking-from-to nav button > a > i {
    position: absolute;
    top: 45%;
    left: 46%;
    transition: (-50%,-50%);
}
section.main .main-title-search .booking-from-to button {
    width: 30%;
    height: 100%;
    background: rgba(255,255,255,1);
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
}
section.main .main-title-search .booking-from-to button p {
    font-weight: 400;
    font-size: 14px;
}
section.main .main-title-search .booking-from-to button:nth-child(2):hover {
    border: none;
}
section.main .main-title-search .booking-from-to button:hover {
    border: 1px solid rgb(0,0,102,1);
}
section.main .main-title-search .booking-info {
    width: 100%;
    height: 63%;
    background: #ddd;
}
section.main .main-title-search .booking-info nav button.booking-date {
    width: 80%;
    height: 50px;
    margin: 20px 10%;
    font-size: 18px;
    border-bottom: 1px solid #000;
    background: rgba(0,0,0,0);
}
section.main .main-title-search .booking-info nav button.booking-date:hover {
    border: 1px solid #000;
}
section.main .main-title-search .booking-info nav button.booking-date a {
    float: left;
}
section.main .main-title-search .booking-info nav button.booking-date i {
    position: absolute;
    left: 320px;
}
section.main .main-title-search .booking-info nav button.booking-person {
    width: 80%;
    height: 50px;
    margin: 0px 10%;
    font-size: 18px;
    border-bottom: 1px solid #000;
    background: rgba(0,0,0,0);
}
section.main .main-title-search .booking-info nav button.booking-person:hover {
    border: 1px solid #000;
}
section.main .main-title-search .booking-info nav button.booking-person a {
    float: left;
}
section.main .main-title-search .booking-info nav button.booking-person i {
    position: absolute;
    left: 320px;
}
section.main .main-title-search .booking-info nav select.seatclass {
    width: 80%;
    height: 50px;
    margin: 20px 10%;
    font-size: 18px;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #000;
}
section.main .main-title-search .booking-info nav select.seatclass:hover {
    border: 1px solid #000;
}
section.main .main-title-search .booking-info .checkbox {
    width: 80%;
    height: 50px;
    margin: 20px 10%;
    font-size: 18px;
    position: relative;

}
section.main .main-title-search .booking-info .checkbox:hover::after{
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0,0,102,0.8);
    position: absolute;
    top: 2px;
    left: 2px;
}
section.main .main-title-search .booking-info .checkbox span {
    margin-left: 20px;
}
section.main-navi {
    width: 95%;
    margin: 40px 30px;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
section.main-navi .main-navi-bar ul li {
    float: left;
    padding: 0 auto;
    margin-left: 300px;
}
section.main-navi .main-navi-bar ul li:hover {
    text-decoration: underline;
}

/* 지금 떠나기 좋은 여행 */
.wrap .recommand {
    font-weight: 700;
    font-size: 30px;
    margin: 25px;
    padding-left: 20px;
    width: 95%;
}
.wrap .recommand > div.recommand-trip {
    margin: 20px 0;
}
.wrap .recommand .recommand-booking ul {
    padding: 0 auto;
}
.wrap .recommand .recommand-booking ul li{
    float: left;
    width: 18.4%;
    margin-right: 2%;
    border: 2px solid transparent;    
    box-sizing: border-box;
    
}
.wrap .recommand .recommand-booking ul li:hover{
    border: 2px solid #999;
    border-radius: 20px;
    box-sizing: border-box;
}
.wrap .recommand .recommand-booking ul li:last-child{
    margin-right: 0;
}
.wrap .recommand .recommand-booking ul li a .imgbox{
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.wrap .recommand .recommand-booking ul li a .imgbox img{
    width: 100%;
    height: 100%;
}
.wrap .recommand .recommand-booking ul li a .imgbox > .recommand-text{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    font-size: 24px;
    padding: 30px 10px 10px ;
    box-sizing: border-box;
}

.wrap .recommand .recommand-booking ul li a .imgbox > .recommand-text .rt-return {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.wrap .recommand .recommand-booking ul li a .imgbox > .recommand-text .recommand-money{
    font-size: 22px;
    color: rgb(7, 7, 109);
    
}
.wrap .columns{
    margin-top: 30px;
    margin-bottom: 40px;
}

.wrap .columns a .columns-main {
    float: left;
    width: 50%;
    height: 110px;
    padding: 20px 0 30px 20px;
    box-sizing: border-box;
    /* background: green; */
    border: 2px solid #888;
    position: relative;
    
    
}
.wrap .columns a .columns-main:hover{
    border: 5px solid #444;
}

.wrap .columns a .columns-main .columns-main-title{
    font-weight: 700;
    font-size: 20px;
    
    
}
.wrap .columns a .columns-main .columns-main-text{
    color: #444;
    font-weight: 500;
    padding: 10px 0;
}

.wrap .columns a .columns-main i{
    float: right;
    position: absolute;
    right: 50px;
    top: 35px;
    font-size: 40px;



    margin-left: 30px;
    font-size: 18px;
}

/* middle 영역 */

body .wrap {
    margin: 0 auto;
    /* margin-top: 50px; */
    /* background: green; */
}
body .wrap .middle{
    /* background: green; */
    margin-bottom: 120px;
    position: relative;
}
body .wrap .middle .co .img-box{
    /* width: 100%; */
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
    
}
body .wrap .middle .co .img-box img{
    width: 100%;
    height: 100%;
    
}

body .wrap .middle .co .font{
    /* background: orange; */
    
    width: 920px;
    height: 150px;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 15px;
    
}
body .wrap .middle .co .font a:hover{
    text-decoration: underline;
    color: rgb(23, 20, 230);
}
body .wrap .middle .co .font h1{
    margin-top: 20px;
}

body .wrap .middle .co .font p{
    margin-top: 150px;
    font-weight: 700;
    font-size: 20px;
}


/* 카트기능 예약변경 */
body .wrap .photo{
    /* background: black; */
    /* border: 3px solid #000; */
    width: 100%;
    box-sizing: border-box;
    margin-top: 180px;
    
}

body .wrap .photo .f{
    width: 600px;
    height: 400px;
    float: left;
    /* background: orange; */
    position: relative;
}
body .wrap .photo .f img{
    width: 100%;
    height: 100%;
}

body .wrap .photo .f::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(21, 154, 243);
    position: absolute;
    left: -10%;
    top: -10%;
    z-index: -1;
    
}

body .wrap .photo .bb{
    /* float: right; */
    width: 500px;
    font-size: 30px;
    margin-bottom: 10px;    
    /* background: green; */
    float: left;
    margin-left: 200px;
    margin-top: 100px;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7); */

    
}
body .wrap .photo .bb h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

body .wrap .photo .bb p {
    margin-bottom: 40px;
    font-size: 18px;
}
body .wrap .photo .bb a{
    position: relative;
    width: 100%;
}

body .wrap .photo .bb a::before{
    content: '→→';
    display: block;
    width: 60px;    
    height: 30px;
    background: green;
    color: white;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 50px;
    font-weight: 600;
    opacity: 0;
}
body .wrap .photo .bb a:hover::before {
    animation: rightMove 2s both ;
}
@keyframes rightMove {
    0% {
        left: 0;
    }
    100% {
        left: 250px;
        opacity: 1;
    }
}

/* 위젯 영역*/

.wrap .finish {
    /* background: yellow; */
    font-size: 25px;

}
.wrap .finish .a h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.wrap .finish .w{
    
    margin-bottom: 100px;
    
}
.wrap .finish .w .nav ul{
    
    border: 3px solid #ccc;
    text-align: center;
    display: block;
}
.wrap .w .nav ul li{
    width: 16%;
    box-sizing: border-box;
    float: left;
    margin: 0;
    display: block;
    /* background: blue; */
    height: 100%;
}
.wrap .w .nav ul li i{
    margin-top: 20px;
    font-size: 40px;
}

.wrap .w .nav ul li a {
    display: block;
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    /* background: red; */
}
.wrap .w .nav ul li a:hover{    
    background: skyblue;
    color: rgba(0, 0 ,0, 0.4);
}
.wrap .w .nav ul li:first-child{
    margin-left: 4%;
}
/* footer 영역 */

footer .vv {
    background: #ddd;
    height: 200px
    
}

footer .vv ul {
    width: 22%;
    float: left;
    margin-top: 40px ;
    font-size: 20px;
    font-weight: 600;
    margin-left: 3%;
    padding-left:150px ;
    box-sizing: border-box;
    
}

footer .vv ul li {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}
footer .vv ul li a:hover{
    text-decoration: underline;
    color: green;
    font-weight: 700;
}

footer .bottom{
    width: 100%;
}

footer .bottom span{
    /* background: orange; */
    margin-top: 25px;
    margin-left: 100px;
    float: left;
    padding: 30px 20px;
    font-weight: 700;
    font-size: 20px;
    
}
footer .bottom .gkgk {
    float: right;
    width: 600px;
    height: 130px;
    
}
footer .bottom .gkgk img{
    width: 100%;
    height: 100%;
    
}