/* reset */
a{
    text-decoration: none;
    color: inherit;
}
/* common */
/* *{
    width: 85%;
    margin: 0 auto;
    font-size: 40px; */
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.wrap{
    font-size: 14px;
    width: 85%;
    /* margin: 0 auto; */
}


/* middle 영역 */

body .wrap {
    margin: 0 auto;
    margin-top: 50px;
    /* background: green; */
}
body .wrap .middle{
    /* background: green; */
    margin-bottom: 120px;
    position: relative;
}
body .wrap .middle .co .img-box{
    /* width: 100%; */
    height: 300px;
    border-radius: 50px;
    overflow: hidden;
}
body .wrap .middle .co .img-box img{
    width: 100%;
    height: 100%;
}

body .wrap .middle .co .font{
    /* background: orange; */
    
    width: 920px;
    height: 150px;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 15px;
    
}
body .wrap .middle .co .font h1{
    margin-top: 20px;
}

body .wrap .middle .co .font p{
    margin-top: 115px;
    font-weight: 500;
}


/* 카트기능 예약변경 */
body .wrap .photo{
    background: black;
    width: 100%;
}

body .wrap .photo .f{
    width: 600px;
    height: 400px;
    float: left;
    /* background: orange; */
}
body .wrap .photo .f img{
    width: 100%;
    height: 100%;
}
body .wrap .photo .bb{
    /* float: right; */
    width: 500px;
    font-size: 30px;
    margin-bottom: 10px;    
    background: green;
    float: right;
}
body .wrap .photo .bb 

body .w {
    margin-bottom: 100px;
}
body .finish {
    background: yellow;
}

footer .vv {
    background: red;
}

















